version: '3.5'

services:

  etcd:
    image: quay.io/coreos/etcd:v3.2.25
    ports:
      - 2379:2379
    environment:
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379

  example-1:
    image: abilioesteves/metrics-generator
    depends_on:
      - etcd
    ports:
      - 32865
    environment:
      - REGISTRY_ETCD_URL=http://etcd:2379
      - REGISTRY_SERVICE=example-1
      - REGISTRY_ETCD_BASE=/metrics-generator

  # consider example-2 to be a completely different application from example-1
  example-2:
    image: abilioesteves/metrics-generator
    depends_on: 
      - etcd
    ports:
      - 32865
    environment:
      - REGISTRY_ETCD_URL=http://etcd:2379
      - REGISTRY_SERVICE=example-2
      - REGISTRY_ETCD_BASE=/metrics-generator

  bb-promster-1-l1:
    build: .
    image: labbsr0x/bb-promster:latest
    depends_on: 
      - example-1
      - alertmanager
    ports:
      - 9090
    environment:
      - REGISTRY_SERVICE=example-1
      - REGISTRY_ETCD_BASE=/metrics-generator
      - BB_PROMSTER_LEVEL=1
      - ETCD_URLS=http://etcd:2379
      - SCRAPE_ETCD_PATH=/metrics-generator/example-1 # based on how the examples are configured ($REGISTRY_ETCD_BASE/$REGISTRY_SERVICE)
      - ALERT_MANAGER_URLS=alertmanager:9093
      - ALERT_RULES_FILE=/etc/prometheus/comparative-alerts.yml
      - ALERT_MANAGER_SCHEME=http
      # - TLS_INSECURE=true
      # - SCRAPE_PATHS=/your-custom-metrics-path
      # - SCHEME="https"

  bb-promster-1-l2:
    image: labbsr0x/bb-promster:latest
    depends_on:
      - bb-promster-1-l1
    ports:
      - 9090
    environment:
      - REGISTRY_SERVICE=example-1
      - REGISTRY_ETCD_BASE=/metrics-generator
      - BB_PROMSTER_LEVEL=2
      - ETCD_URLS=http://etcd:2379
      - ALERT_MANAGER_URLS=alertmanager:9093
      - ALERT_MANAGER_SCHEME=http

  bb-promster-2-l1:
    build: .
    image: labbsr0x/bb-promster:latest
    depends_on: 
      - example-2
    ports:
      - 9090
    environment:
      - REGISTRY_SERVICE=example-2
      - REGISTRY_ETCD_BASE=/metrics-generator
      - BB_PROMSTER_LEVEL=1
      - ETCD_URLS=http://etcd:2379
      - SCRAPE_ETCD_PATH=/metrics-generator/example-2 # based on how the examples are configured ($REGISTRY_ETCD_BASE/$REGISTRY_SERVICE)
      # - TLS_INSECURE=true
      # - SCRAPE_PATHS=/your-custom-metrics-path
      # - SCHEME="https"
      - ALERT_MANAGER_URLS=alertmanager:9093

  bb-promster-2-l2:
    image: labbsr0x/bb-promster:latest
    depends_on:
      - bb-promster-2-l1
    ports:
      - 9090
    environment:
      - REGISTRY_SERVICE=example-2
      - REGISTRY_ETCD_BASE=/metrics-generator
      - BB_PROMSTER_LEVEL=2
      - ETCD_URLS=http://etcd:2379

  bb-promster-grafana:
    image: labbsr0x/bb-promster:latest
    depends_on:
      - bb-promster-1-l2
    ports:
      - 9090
    environment:
      - REGISTRY_SERVICE=example # it federates via prefixes. bb-promster-grafana will then collect both metrics from bb-promster-1-l2 and bb-promster-2-l2.
      - REGISTRY_ETCD_BASE=/metrics-generator
      - BB_PROMSTER_LEVEL=3
      - ETCD_URLS=http://etcd:2379
      - CLEAR_RR=true
  
  alertmanager:
    image: prom/alertmanager
    ports:
      - 9093:9093