global:
  scrape_interval:     {{.scrapeInterval}}
  scrape_timeout:      {{.scrapeTimeout}}
  evaluation_interval: {{.evaluationInterval}}

rule_files:
  - /rules.yml
  - /etc/prometheus/rules-l1.yml
  - /etc/prometheus/rules-ln.yml
  - /etc/prometheus/alert_rules-ln.yml

alerting:
  alertmanagers:
  - scheme: {{.scheme}}
    static_configs:
    - targets: ['$ALERT_MANAGER_URLS']

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']

{{$scheme := .scheme}}
{{$tlsInsecure := .tlsInsecure}}
{{$scrapeMatch := .scrapeMatch}}
{{range .scrapePaths}}
  - job_name: '{{.}}'
    metrics_path: {{.}}
    scheme: {{$scheme}}
    tls_config:
      insecure_skip_verify: {{$tlsInsecure}}
{{if not (eq $scrapeMatch "")}}
    params:
      'match[]':
        - '{job=~"{{$scrapeMatch}}"}'
        - '{__name__=~"dependency_up|up"}'
{{end}}
    file_sd_configs:
      - files: 
        - /servers.json

{{end}}
