groups:
- name: ComparativeAlerts
  rules:
    - record: request_duration_seconds_error:sum_irate
      expr: sum(irate(request_seconds_count{status!="2xx"}[2m])) by (addr, prsn, instance)

    - record: request_duration_seconds_total:sum_irate
      expr: sum(irate(request_seconds_count[2m])) by (addr, prsn, instance)

    - record: request_duration_seconds_error_rate
      expr: request_duration_seconds_error:sum_irate / request_duration_seconds_total:sum_irate

    - record: request_duration_seconds_sum:sum_irate
      expr: sum(irate(request_seconds_sum[2m])) by (addr, prsn, instance) 
      
    - record: request_duration_seconds_latency
      expr: request_duration_seconds_sum:sum_irate / request_duration_seconds_total:sum_irate

    - record: request_duration_seconds_error_comparative
      expr: ((request_duration_seconds_error_rate and ignoring(addr) sum by(instance, prsn) (application_info{version="{{.PilotVersion}}"})) 
        - ignoring(instance) (request_duration_seconds_error_rate and ignoring(addr) sum by(instance, prsn) (application_info{version="{{.ProdVersion}}"}) ) ) 
        / ignoring(instance) (request_duration_seconds_error_rate and ignoring(addr) sum by(instance, prsn) (application_info{version="{{.ProdVersion}}"}) )
    
    - record: request_duration_seconds_sum_comparative
      expr: ((request_duration_seconds_sum:sum_irate and ignoring(addr) sum by(instance, prsn) (application_info{version="{{.PilotVersion}}"})) 
        - ignoring(instance) (request_duration_seconds_sum:sum_irate and ignoring(addr) sum by(instance, prsn) (application_info{version="{{.ProdVersion}}"}) ) ) 
        / ignoring(instance) (request_duration_seconds_sum:sum_irate and ignoring(addr) sum by(instance, prsn) (application_info{version="{{.ProdVersion}}"}) )

    - record: request_duration_seconds_latency_comparative
      expr: ((request_duration_seconds_latency and ignoring(addr) sum by(instance, prsn) (application_info{version="{{.PilotVersion}}"})) 
        - ignoring(instance) (request_duration_seconds_latency and ignoring(addr) sum by(instance, prsn) (application_info{version="{{.ProdVersion}}"}) ) ) 
        / ignoring(instance) (request_duration_seconds_latency and ignoring(addr) sum by(instance, prsn) (application_info{version="{{.ProdVersion}}"}) )
    
    - alert: NewerVersionHas10PercentMoreErrorsThanPreviousVersion
      expr: request_duration_seconds_error_comparative > 0.1     
      for: 4m
      labels:
        severity: page
      annotations:
        description: URL {{`"{{$labels.addr}}"`}} in version {{.PilotVersion}} has 10 percent more erros in than version {{.ProdVersion}}
        summary: Newer Version Has 10 Percent More Errors Than Previous Version
        app: {{`"{{$labels.prsn}}"`}}
        addr: {{`"{{$labels.addr}}"`}}

    - alert: NewerVersionHas10PercentMoreTrafficThanPreviousVersion
      expr: request_duration_seconds_sum_comparative > 0.1 
      for: 4m
      labels:
        severity: page
      annotations:
        description: URL {{`"{{$labels.addr}}"`}} in version {{.PilotVersion}} has 10 percent more traffic in than version {{.ProdVersion}}
        summary: Newer Version Has 10 Percent More traffic Than Previous Version
        app: {{`"{{$labels.prsn}}"`}}
        addr: {{`"{{$labels.addr}}"`}}

    - alert: NewerVersionHas10PercentLessTrafficThanPreviousVersion
      expr: request_duration_seconds_sum_comparative < -0.1 
      for: 4m
      labels:
        severity: page
      annotations:
        description: URL {{`"{{$labels.addr}}"`}} in version {{.PilotVersion}} has 10 percent less traffic in than version {{.ProdVersion}}
        summary: Newer Version Has 10 Percent Less Traffic Than Previous Version
        app: {{`"{{$labels.prsn}}"`}}
        addr: {{`"{{$labels.addr}}"`}}

    - alert: NewerVersionHas10PercentMoreLatencyThanPreviusVersion
      expr: request_duration_seconds_latency_comparative > 0.1
      for: 4m
      labels:
        severity: page
      annotations:
        description: URL {{`"{{$labels.addr}}"`}} in version {{.PilotVersion}} has 10 percent more latency in than version {{.ProdVersion}}
        summary: Newer Version Has 10 Percent More Latency Than Previous Version
        app: {{`"{{$labels.prsn}}"`}}
        addr: {{`"{{$labels.addr}}"`}}
